body{
    overflow-x:hidden;
}
.ptb45{
    padding: 45px 0;
}
.content{
    /* border: 1px solid #ebebeb; */
    /* border-radius: 4px; */
    transition:all .2s;
    padding-left: 100px;
}
.step{
    padding: 30px;
}
.step>span{
    display:inline-block;
    width: 20px;
    height: 20px;
    line-height: 24px;
    border-radius: 50%;
    border: 2px solid #c0c4cc;
    position: relative;
}
.step::before{
    content: "";
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 1px;
    background: #c0c4cc;
    transform: rotate(-45deg) translateY(-4px);
    transform-origin: 0 0;
    right: 0;
    top: 32px;
}

.step::after{
    content: "";
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 1px;
    background: #c0c4cc;
    transform: rotate(45deg) translateY(4px);
    transform-origin: 100% 100%;
    right: 0;
    top: 32px;
}

.nostep::before,.nostep::after{
    display: none !important;
}
.step>p{
    color: #c0c4cc;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -5px;
    left: 5px;
}
.active>span{
    border: 2px solid #333;
}
.active>p{
    color: #333
}
.complete>span{
    border-color: #54ae28;
    background: #67c23a;
    position: relative;
    transition: all .5s;
}
.complete>span::before{
    display: block;
    position: absolute;
    content: "";
    width: 5px;
    height: 2px;
    background: #FFF;
    left: 2px;
    top: 8px;
    transform: rotateZ(45deg);
}
.complete>span::after{
    display: block;
    position: absolute;
    content: "";
    width: 10px;
    height: 2px;
    background: #FFF;
    left: 4px;
    top: 7px;
    transform: rotateZ(-45deg);
}

.complete>p{
    color: #67c23a
}
.por{
    position: relative;
}
.panel-primary{
    position: absolute;
    width: 100%;
    display: none;
    box-shadow: 0 4px 8px rgba(7, 17, 27, 0.4);
    border-width: 2px;
}
.show{
    display: block
}
#footer-sec{
    margin-top: 690px;
}