.wrap h1 {
    text-align: center;
    color: #5da4e6;
    font-weight: bold;
}

.header-search {
    /* width: 400px;
    height: 40px;
    border: 1px solid #3297d8; */
    margin: 20px auto;
    /* margin-top: 10px; */
    padding: 0;
    /* border-radius: 4px; */
}

#search {
    width: 454px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 2px solid #215089;
    border-right: 0;
    border-radius: 5px 0 0 5px;
}

#SearchButton {
    background: #215089;
    left: -5px;
    top: -1px;
    height: 40px;
    width: 60px;
    font-size: 24px;
    padding-top: 2px;
    border-radius: 0 5px 5px 0;
    font-weight: 100;
}

.myBtn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 0;
    color: #333;
}

.hotSearch {
    height: 300px;
    background: #2E2D3C;
    margin-right: 10px;
}


/*更多信息*/

.moreInfo {
    padding: 20px 40px;
    font-size: 20px;
}

.add_company {
    font-size: 20px;
    color: #215089;
    padding-right: 30px;
    font-weight: bold;
    transition: all .3s;
}

.add_company:hover {
    color: #3075c9;
}

.btn-info {
    color: #215089;
    /* background-color: #215089; */
    border: 1px solid #215089;
    border-radius: 4px;
    transition: all .3s;
}

.btn-info:hover {
    color: #fff;
    background-color: #215089;
    border-color: #215089;
}

@media screen and (max-width: 768px) {
    /*搜索框*/
    .header-search {
        width: 334px;
        height: 40px;
        border: 1px solid #3297d8;
        margin: 20px auto;
    }
    #search {
        width: 244px;
    }
}

@media screen and (min-width: 769px) {
    .pcPL266 {
        padding-left: 266px;
    }
}