/*左侧*/
.tabLeft{ background: #215089;padding:60px 20px;width: 280px; border-radius: 8px;box-shadow: 0 0 5px #AAAAAA;}
.resumeLogo{ width: 100px; height:100px;border-radius: 50px }

.ulWarp {padding-left:20px;}
.ulWarp li { width: 200px;height: 40px;background: #fff;color:#215089 ;margin-bottom:20px;line-height: 40px;cursor: pointer;}
.ulWarp .liActive{background: #FA6A43;color:#fff;box-shadow: 0 0 5px #CCC;}

.resumeLogoWrap{margin-top:0px;margin-bottom:40px;position: relative;}
.edit-ResumeLogo{ width: 40px;height: 40px;border-radius: 20px;background-color: #FA6A43;position:absolute;top:-13px;left:140px;box-shadow:  0 0 5px #BBB; cursor: pointer;}
.edit-ResumeLogo  span { color: #fff;font-size: 24px;position: relative;top:6px;left:1px;}
.resumeLogoWrap img { width: 100px; height:100px ;border-radius: 75px; border:1px solid #ccc;}


.tabRight{ width: 840px; }
.tabRight-baseInfo,.tabRight-jobInfo,.tabRight-otherInfo{ box-shadow: 0 0 5px #AAAAAA ;border-radius: 5px;padding-bottom: 30px;}
.tabRight-baseInfo_header,.tabRight-jobInfo_header,.tabRight-otherInfo_header{ background:#215089 ;height: 50px;line-height: 50px;font-size:18px;color:#fff; border-radius: 5px 5px 0 0}


/*右侧*/
.layui-form-label{width: 160px;text-align: right;padding-right: 40px;}
.layui-form-item .layui-input-inline{width: 300px;}
.layui-form-item .layui-input-inline input:focus { box-shadow: 0 0 5px #215089}

.layui-form-switch {
    box-sizing: content-box;
}
.next-step{  float: right;margin-right: 80px;}
.MB60{margin-bottom:60px;}
.MB15{margin-bottom: 15px;}
.layui-form-pane .layui-form-item .layui-form-label{margin-bottom: 0px;}
.layui-form-pane .layui-form-item textarea:focus{box-shadow: 0 0 5px #215089}






/* 选择上传图片*/
.modal_row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.selectUpLoadLogo {
    width: 62%;
    height: 300px;
    border-radius: 4px;
    background: #ddd;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.lable_selectPic {
    display: inline-block;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #337ab7;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    border: 0px #fff solid;
    padding: 5px 5px 0;
}

.lable_selectPic>label {
    width: 100%;
    height: 100%;
    display: block;
}

.upLoadBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -12px;
    z-index: 999;
}

.upLoadBtn>input[type=file] {
    width: 188px;
    height: 60px;
    background: #333;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    margin-right: -94px;
    top: 0;
    right/*\**/
    : 0px\9;
    margin-right/*\**/
    : 0px\9;
    width/*\**/
    : 10px\9;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
}


/* 预览图片 */

.previewLogo {
    width: 37%;
    height: 300px;
    padding: 30px 23px 0;
    border-radius: 4px;
    background: #ddd;
    position: relative;
    margin-left: 5px;
}

.img-preview {
    position: relative;
}

#preview {
    display: inline-block;
    width: 100%;
    margin-top:20px;
    height: 160px;
    background: #FFF;
    border-radius: 4px;
}

.img-preview .preview-pic {
    display: block;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-family: "Microsoft YaHei"
}
.img-preview .preview-pic img{width:160px;height: 160px;}

.cropper-hidden {
    max-width: 100%;
    display: block;
    height: auto;
}

.cropper-crop-box {
    width: 200px;
    height: 200px;
}

.cropper-drag-box {
    border-radius: 4px;
}

.save {
    margin-right: 15px;
}

/* 剪裁图片 */

#cropperPic {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}